.html
Module 2/Week 4/Lab 4/Agincourt Reef Weather Station Water Temperature @10m from 1991-02-22 to 2010-09-18.csv
Module 2/Week 4/Lab 4/Agincourt Reef Weather Station Water Temperature @12m from 2013-03-20 to 2024-12-19.csv
Module 2/Week 4/Lab 4/Agincourt Reef Weather Station Water Temperature @2.5m from 2013-03-20 to 2023-07-20.csv
